@page "/initpassword"
@layout Layouts.LoginLayout
@using AntDesign;


<Form @ref=@_form
      Model="_initPasswordVM"
      Layout=@FormLayout.Vertical
      Size=@AntSizeLDSType.Default
      LabelColSpan="4"
      WrapperColSpan="4">
    <FormItem WrapperColOffset="10" WrapperColSpan="4">
        <h4>*您需要设置超级管理员密码来完成初始化</h4>
    </FormItem>
    <FormItem WrapperColOffset="10" WrapperColSpan="4" Required>
        <InputPassword Placeholder="请输入密码" @bind-Value="@context.Password">
            <Prefix>
                <Icon Type="lock"></Icon>
            </Prefix>
        </InputPassword>
    </FormItem>
    <FormItem WrapperColOffset="10" WrapperColSpan="4" Required>
        <InputPassword Placeholder="请确认密码" @bind-Value="@context.ConfirmPassword">
            <Prefix>
                <Icon Type="lock"></Icon>
            </Prefix>
        </InputPassword>
    </FormItem>
    <FormItem WrapperColOffset="11" WrapperColSpan="2">
        <Button Style="width:100%" Type="@ButtonType.Primary" OnClick=@SubmitAsync>
            确认
        </Button>
    </FormItem>
</Form>

