@page "/login"
@layout Layouts.LoginLayout


@using AgileConfig.BlazorUI.Auth
@using AgileConfig.UIApiClient
@using Blazored.LocalStorage




<AntDesign.Form Model="@_loginData" Style="height:100%"
                OnFinish="OnFinish"
                LabelColSpan="4"
                WrapperColSpan="4">
    <FormItem WrapperColOffset="10" WrapperColSpan="4">
        <AntDesign.Input Placeholder="请输入账号" AllowClear="true" @bind-Value="@context.UserName">
            <Prefix>
                <Icon Type="user"></Icon>
            </Prefix>
        </AntDesign.Input>
    </FormItem>
    <FormItem WrapperColOffset="10" WrapperColSpan="4">
        <InputPassword Placeholder="请输入密码" @bind-Value="@context.Password">
            <Prefix>
                <Icon Type="lock"></Icon>
            </Prefix>
        </InputPassword>
    </FormItem>
    <FormItem WrapperColOffset="11" WrapperColSpan="2">
        <Button Style="width:100%" Type="@ButtonType.Primary" HtmlType="submit" Block>
            登录
        </Button>
    </FormItem>
</AntDesign.Form>

