@page "/resetpassword"
@using AntDesign;

<Row>
    <Col Span="8" Offset="8">
    <Form @ref=@_form Model="_changePasswordVM" Layout=@FormLayout.Vertical Size=@AntSizeLDSType.Large>
        <FormItem Label="原密码">
            <InputPassword @bind-Value="@context.OldPassword" />
        </FormItem>
        <FormItem Label="新密码" Required>
            <InputPassword @bind-Value="@context.Password" />
        </FormItem>
        <FormItem Label="确认新密码" Required>
            <InputPassword @bind-Value="@context.ConfirmPassword" />
        </FormItem>
        <FormItem >
            <Button Type="@ButtonType.Primary" OnClick=@SubmitAsync>
                确认修改
            </Button>
        </FormItem>
    </Form>
    </Col>
</Row>
