@namespace AgileConfig.BlazorUI.Layouts
@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>
        <BasicLayout Logo="@("/assets/logo.svg")" Title="@Consts.Production.PRODUCTION_NAME" MenuData="_menuData">

            <RightContentRender>
                <AgileConfig.BlazorUI.Components.RightContent UserName=@UserName
                                                              OnLangItemSelected=@OnLangItemSelected
                                                              OnUserItemSelected=@OnUserItemSelected />
            </RightContentRender>
            <FooterRender>
                <FooterView Copyright=@Consts.Production.PRODUCTION_NAME_DESCRIPTION Links="Links"></FooterView>
            </FooterRender>
            <ChildContent>
                @Body
            </ChildContent>
        </BasicLayout>
        <SettingDrawer />
    </Authorized>
    <NotAuthorized>
        <div style="margin: 100px 0; width:100%; text-align: center; color: red;">
            <span style="font-size:20px">检测到登录超时，请重新<a href="/login" style="text-decoration:underline">登录</a>！</span>
        </div>
    </NotAuthorized>
</AuthorizeView>

<style>
    body {
        margin: 0;
    }
</style>



@code
{

    public LinkItem[] Links { get; set; } =
                                                                    {
        new LinkItem
        {
            Key = "Ant Design Blazor",
            Title = "Ant Design Blazor",
            Href = "https://antblazor.com",
            BlankTarget = true,
        },
        new LinkItem
        {
            Key = "github",
            Title = (RenderFragment)(@<Icon Type="github" />),
            Href = "https://github.com/ant-design-blazor/ant-design-pro-blazor",
            BlankTarget = true,
        },
        new LinkItem
        {
            Key = "Blazor",
            Title = "Blazor",
            Href = "https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor?WT.mc_id=DT-MVP-5003987",
            BlankTarget = true,
        }
    };
}